<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/index.md">Accueil</a>
            <a href="/histoires.md">Histoires</a>
            <a href="/membres.md">Membres</a>
            <a href="/inscriptions.md">Inscriptions</a>
            <a href="/faq.md">FAQ</a>
            <a href="/about.md">À propos</a>
            <a href="/charte.md">Charte</a>
            <a href="/connexion.md">Connexion</a>
       </div>
    </header>
    <main>
        <div class="content">
            {{ content }}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Mon Site Web. Tous droits réservés.</p>
    </footer>
</body>
</html>
