<!DOCTYPE html> 
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="index.html">Accueil</a>
            <a href="histoires.html">Histoires</a>
            <a href="faq.html">FAQ</a>
            <a href="about.html">À propos</a>
            <a href="charte.html">Charte</a>
            <a href="connexion.html">Connexion</a>
       </div>
    </header>
    <main>
        <div class="content">
            {{ content }}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Le Scriptorium. Tous droits réservés.</p>
    </footer>
</body>
</html>

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Le Scriptorium</title>
</head>
<body>
    <h1>Le Scriptorium </h1>
    <input type="search" id="search-input" placeholder="Rechercher des histoires...">
    <div id="results"></div>
    
    <!-- Inclusion de la bibliothèque Algolia -->
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch/dist/algoliasearch-lite.umd.js"></script>
    <!-- Inclusion de ton fichier script -->
    <script src="script.js"></script>
</body>
</html>

