<!DOCTYPE html> 
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="en/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="index.html">Home</a>
            <a href="histoires.html">Stories</a>
            <a href="faq.html">FAQ</a>
            <a href="charte.html">Charter</a>
            <a href="inscriptions.html">Registrations</a>
            <a href="aide.html">Help</a>
       </div>
    </header>
    <main>
        <div class="content">
            {{ content }}
        </div>
    </main>
    <footer>
        <p>&copy; © 2024 Le Scriptorium. All rights reserved.</p>
    </footer>
</body>
</html>
